@import url('https://fonts.googleapis.com/css?family=Bitter|Roboto');
#data {
  display: none;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  list-style-type: none;
}

.data-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100vh;
}

.data-container h2 {
  font-family: 'Bitter', serif;
}

.data-container>* {
  padding: 0 30px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-flow: column;
}

.close-data {
  position: absolute;
  top: 36px;
  left: 20px;
  text-decoration: underline;
  cursor: pointer;
  color: white;
  z-index: 3;
}

a {
  text-decoration: none;
  color: inherit;
}

.progress-block {
  margin-bottom: 25px;
}

.progress-block .name {
  margin-bottom: 5px;
  font-size: 95%;
}

.info-holder {
  display: flex;
  align-items: center;
}

.progress {
  display: inline-block;
  width: 75%;
  padding: 1px;
  background: #e5e5e5;
  border-radius: 0px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  margin-right: 20px;
}

.progress-bar {
  height: 20px;
  border-radius: 1px;
  background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.8s linear;
  transition-property: width, background-color;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  width: 0%;
}

.progress-number {
  display: inline-block;
  opacity: 1;
  font-size: 90%;
}

.custom-radios {
  display: flex;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  font-size: 80%;
}

.custom-radios input[type="radio"] {
  display: none;
}

.custom-radios input[type="radio"]+label span {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px 15px;
  border: 1px solid #f5f5f5;
}

.custom-radios input[type="radio"]:checked+label span {
  background: #dadada;
  transition: 0.6s;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons span {
  height: 100%;
}

.left {
  width: 450px;
  color: white;
  justify-content: center;
}

.right {
  width: 620px;
  background: rgba(255, 255, 255, 0.95);
  justify-content: flex-start;
}

#myChart {
  margin-bottom: 20px;
}

.absolute-circle {
  display: none;
  position: absolute;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: red;
  z-index: 5;
  justify-content: center;
  align-items: center;
  color: #111111;
  font-size: 120%;
  font-family: 'Bitter', serif;
  cursor: pointer;
}

.data-tooltip {
  display: none;
  width: 220px;
  height: 90px;
  -webkit-clip-path: polygon(100% 0, 100% 75%, 61% 75%, 53% 100%, 44% 75%, 0 75%, 0 0);
  clip-path: polygon(100% 0, 100% 75%, 61% 75%, 53% 100%, 44% 75%, 0 75%, 0 0);
  background: white;
  top: calc(50% - 110px);
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  align-items: center;
  flex-flow:column;
  font-size:90%;
}

.data-tooltip > * {
  padding-top: 10px;
}

.absolute-circle:hover + .data-tooltip {
  display: flex;
  z-index:5;
}
