.land {
    fill: rgb(186,228,179);
    stroke: #fff;
    stroke-width: 1px;
}

.land:hover {
    fill: orange;
}

.countryTooltip {
    position: absolute;
    display: none;
    pointer-events: none;
    background: #fff;
    padding: 5px;
    text-align: left;
    border: solid #ccc 1px;
    color: #666;
    font-size: 14px;
    font-family: sans-serif;    
}

.active {
    fill: orange;
}