@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";
body, html {
    height: 100%;
    margin: 0;
    font: 25px 'Karla', sans-serif;    
    background-color: #f9faf9;
    text-align: center;
}

.btn-demo {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 16px 'Karla', sans-serif;
    cursor: pointer;
    background-color: rgba(1,1,1,0);
    color: white;
    border: 2px solid #e7e7e7;
}

.img-banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../../images/b2.jpg");
    min-height: 50%;
    display:flex;
    justify-content: center;
    flex-flow: column;
    align-items:center;
}

.caption-banner {
    display: flex;
    justify-content: space-around;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font: 35px 'Karla', sans-serif;
    color: #f9faf9;
    margin-bottom: 50px;
}

.headline {
    font-size: 30px;  
    padding-top: 1.5em; 
    margin: 0; 
    text-align: center;
    background-color: #f9faf9; 
    color: black;
}

h3 {
    text-transform: uppercase;
    margin: 0;
    font: 40px 'Karla', sans-serif;
    color: #111;
    font-weight: 700;
    text-align: center;
}

.columm-left {
    flex: 50%;
    text-align:center;
    padding-right: 100px;
    padding-top: 30px;
}

.columm-right {
    flex: 50%;
    text-align:center
}

.container {
    display: flex;
    color: #777;
    background-color:#f9faf9;
    padding:50px 80px;
    text-align: justify;
    justify-content: space-around;
}

.box3 {
display: flex;
color: #777;
background-color: #f9faf9;
text-align:center;
padding:50px 80px;
text-align: justify;
}

.box2 {
color:#ddd;
background-color:#f9faf9;
text-align:center;
padding:50px 80px;
text-align: justify;
}

.about {
padding: 30px;
display: flex;
justify-content:space-around;
background-color: #f9faf9;
padding:50px 80px 90px 80px;
}

/* Header */

body {
padding-top: 6em;
}

#header {
-moz-align-items: center;
-webkit-align-items: center;
-ms-align-items: center;
align-items: center;
background: black;
cursor: default;
height: 6em;
left: 0;
line-height: 6em;
position: fixed;
top: 0;
width: 100%;
z-index: 10001;
text-align: center;
border-bottom: 3px solid #1c1c1c;
}

#header .logo {
color: white;
font-family: "Pacifico", cursive;
font-size: 2.5em;
letter-spacing: 2px;
margin-top: -5px;
text-decoration: none;
display: inline-block;
}

#header nav {
position: absolute;
top: 0;
height: inherit;
line-height: inherit;
}

#header nav.left {
left: 2em;
}

#header nav.right {
right: 2em;
}

#header nav .button {
padding: 0 2em;
height: 3.25em;
line-height: 3.25em;
}

#header nav a {
text-decoration: none;
display: inline-block;
}

#header nav a[href="#menu"] {
text-decoration: none;
-webkit-tap-highlight-color: transparent;
font-size: 2em;
color: #dee1e3;
z-index: 10005;
}

#header nav a[href="#menu"]:before {
content: "ïƒ‰";
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
text-transform: none !important;
}

#header nav a[href="#menu"] span {
display: none;
}

#header nav a[href="#menu"]:before {
margin: 0 0.5em 0 0;
}

@media screen and (max-width: 980px) {

body {
padding-top: 44px;
}

#header {
height: 44px;
line-height: 44px;
}

#header .logo {
font-size: 1.25em;
text-align: center;
}

#header nav a[href="#menu"] {
font-size: 1.5em;
}

#header nav.left {
left: 1em;
}

#header nav.right {
display: none;
}

}

@media screen and (max-width: 480px) {

#header {
min-width: 320px;
}

}


/* Menu */

#menu {
-moz-transform: translateX(-20em);
-webkit-transform: translateX(-20em);
-ms-transform: translateX(-20em);
transform: translateX(-20em);
-moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
-webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
-ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
transition: transform 0.5s ease, visibility 0.5s;
-webkit-overflow-scrolling: touch;
background: #111;
color: #ffffff;
height: 100%;
max-width: 80%;
overflow-y: auto;
padding: 3em 2em;
position: fixed;
left: 0;
top: 0;
visibility: hidden;
width: 20em;
z-index: 10002;
}

#menu > ul {
margin: 0 0 1em 0;
}

#menu > ul.links {
list-style: none;
padding: 0;
}

#menu > ul.links > li {
padding: 0;
}

#menu > ul.links > li > a:not(.button) {
border: 0;
color: inherit;
display: block;
line-height: 3.5em;
text-decoration: none;

}

#menu > ul.links > li > a:not(.button):hover {
color: gray;
}

#menu > ul.links > li:first-child > a:not(.button) {
border-top: 0 !important;
}


#menu .close {
text-decoration: none;
-moz-transition: color 0.2s ease-in-out;
-webkit-transition: color 0.2s ease-in-out;
-ms-transition: color 0.2s ease-in-out;
transition: color 0.2s ease-in-out;
-webkit-tap-highlight-color: transparent;
border: 0;
color: white;
cursor: pointer;
display: block;
height: 3.25em;
line-height: 3.25em;
padding-right: 1.25em;
position: absolute;
right: 0;
text-align: right;
top: 0;
vertical-align: middle;
width: 7em;
}

#menu .close:before {
content: "ï€";
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
text-transform: none !important;
}

#menu .close:before {
font-size: 1.25em;
}

#menu .close:hover {
color: gray;
}

@media screen and (max-width: 736px) {

#menu .close {
height: 4em;
line-height: 4em;
}

}

#menu.visible {
-moz-transform: translateX(0);
-webkit-transform: translateX(0);
-ms-transform: translateX(0);
transform: translateX(0);
visibility: visible;
}

@media screen and (max-width: 980px) {

#menu ul.actions {
display: block;
}

}

@media screen and (max-width: 736px) {

#menu {
padding: 2.5em 1.75em;
}

}

.nav-box {
    padding-top: 20px; 
    background-color: black; 
    padding-bottom: 20px
}
.nav-dots .nav-dot {
    text-align: center;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin: 40px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: azure;
}

.nav-dots .nav-dot:hover {
cursor: pointer;
background-color: rgba(255, 255, 255, 0.5);
}

.featured-images-padding {
padding:20px;
background:black;
}

.featured-images {
display: flex;
padding:20px;
justify-content: center;
background:black;
height:600px;
background-image: url("../../images/1.png");
background-repeat: no-repeat;
background-position: center;
background-size: contain;
}

input[type="radio"] {
display:none;
}

input:checked + label {
background:black!important;
color:azure;
border:2px solid azure;

}

.img-columm {
    width: 70%;
}

.about > div > img {
width:200px;
height:200px;
}

.github {
display: flex;
justify-content: center;
background: #f9faf9;
color: gray;
text-align: center;
}

.github > a > p {
    margin: 0; 
    padding: 20px;
}

.github > a > img {
    width: 100px;
}
#check_project {
margin-bottom:30px;
}

#check_project > p {
padding: 0 30px!important;
line-height: 100px;
}

.vid {
width: 100%;
text-align: center;
}

.profile-box {
    color: gray;
}

.profile-box > img {
    border-radius: 100%; 
}