@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";

body {
    line-height: 1;
    margin: 0;
    color: #767d85;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    line-height: 1.65;
}

.inner {
    margin: 0 auto;
    max-width: 65em;
}

a {
    color: #25a2c3;
    text-decoration: underline;
}

h1, h2, h3 {
    color: #727a82;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 {
    font-size: 2em;
    line-height: 1.3;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.box {
    border-radius: 4px;
    border: solid 1px #dee1e3;
    margin-bottom: 2em;
    overflow: hidden;
    background-color: #faf9fa
}	

.box .image.fit {
    margin: 0;
}

.box .content {
    padding: 1.5em;
}

.image {
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    display: block;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.round img {
    border-radius: 100%;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.flex.flex-3 .flex-item {
    flex-basis: 30%;
}

.flex.flex-3 .flex-item.left {
    text-align: right;
}

.wrapper {
    padding: 6em 0 4em 0;
}

.wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4, .wrapper h5 {
    color: #25a2c3;
}

.wrapper.style1 {
    background: #f6755e;
    color: #fcdcd6;
}

.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3 {
    color: #fff;
}

#header {
    display: flex;
    justify-content: center;
    background: black;
    cursor: default;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 3px solid #1c1c1c;
    padding: 10px;
}

#header .logo {
    color: white;
    font-family: "Pacifico", cursive;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
}

#banner {
    padding: 14em 0 12em 0;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../../images/banner.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
}


#banner h1 {
    font-size: 3em;
    color: #25a2c3;
    line-height: 1em;
    margin: 0 0 0.5em 0;
    padding: 0;
    animation: fadein 2s;
}

#banner p {
    color: white;
    font-size: 1.25em;
    margin-bottom: 1.75em;
    animation: fadein 2s;
}

#one .inner {
    margin-bottom: 2em;
}

#one .flex-item.left div:first-child, #one .flex-item.right div:first-child {
    padding-top: 1em;
}

#one .flex-item.left div:last-child, #one .flex-item.right div:last-child {
    align-self: flex-end;
}

#one .flex-item.left div p, #one .flex-item.right div p {
    margin-bottom: 1em;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
    position:fixed;
}

.stars {
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: -1;
}

.twinkling{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
    z-index: -1;
}

.table {
    display: flex;
    justify-content: center;
}

.tableImg {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}

.btn-menu {
    position: absolute;
    font-size:30px;
    cursor:pointer;
    color: white;
    left: 15px;
}

.list-type {
    list-style: none;
}

.orangered {
    color: orangered !important;
}

.darkgreen {
    color: darkgreen!important;
}

.limegreen {
    color: limegreen!important;
}

.orange {
    color: orange !important;
}