@charset "UTF-8";
@import url(../../css/weather-icons.css);
@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";
body, html {
    height: 100%;
    margin: 0;
    font: 25px 'Karla', sans-serif;    
    background-color: #f9faf9;
    text-align: center;
}

.btn-demo {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 16px 'Karla', sans-serif;
    cursor: pointer;
    background-color: rgba(1,1,1,0);
    color: white;
    border: 2px solid #e7e7e7;
}

.img-banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/b2.jpg");
    min-height: 50%;
    display:flex;
    justify-content: center;
    flex-flow: column;
    align-items:center;
}

.caption-banner {
    display: flex;
    justify-content: space-around;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font: 35px 'Karla', sans-serif;
    color: #f9faf9;
    margin-bottom: 50px;
}

.headline {
    font-size: 30px;  
    padding-top: 1.5em; 
    margin: 0; 
    text-align: center;
    background-color: #f9faf9; 
    color: black;
}

h3 {
    text-transform: uppercase;
    margin: 0;
    font: 40px 'Karla', sans-serif;
    color: #111;
    font-weight: 700;
    text-align: center;
}

.columm-left {
    flex: 50%;
    text-align:center;
    padding-right: 100px;
    padding-top: 30px;
}

.columm-right {
    flex: 50%;
    text-align:center
}

.container {
    display: flex;
    color: #777;
    background-color:#f9faf9;
    padding:50px 80px;
    text-align: justify;
    justify-content: space-around;
}

.about {
    padding: 30px;
    display: flex;
    justify-content:space-around;
    background-color: #f9faf9;
    padding:50px 80px 90px 80px;
}


#header {
    display: flex;
    justify-content: center;
    background: black;
    cursor: default;
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 3px solid #1c1c1c;
    padding: 10px;
}

#header .logo {
    color: white;
    font-family: "Pacifico", cursive;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
}

.nav-box {
    padding-top: 20px; 
    background-color: black; 
    padding-bottom: 20px
}
.nav-dots .nav-dot {
    text-align: center;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin: 40px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: azure;
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.featured-images-padding {
    padding:20px;
    background:black;
}

.featured-images {
    display: flex;
    padding:20px;
    justify-content: center;
    background:black;
    height:600px;
    background-image: url("../images/1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

input[type="radio"] {
    display:none;
}

input:checked + label {
    background:black!important;
    color:azure;
    border:2px solid azure;
}

.img-columm {
    width: 70%;
}

.about > div > img {
    width:200px;
    height:200px;
}

.github {
    display: flex;
    justify-content: center;
    background: #f9faf9;
    color: gray;
    text-align: center;
}

.github > a > p {
    margin: 0; 
    padding: 20px;
}

.github > a > img {
    width: 100px;
}

#check_project {
    margin-bottom:30px;
}

#check_project > p {
    padding: 0 30px!important;
    line-height: 100px;
}

.vid {
    width: 100%;
    text-align: center;
}

.profile-box {
    color: gray;
}

.profile-box > img {
    border-radius: 100%; 
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}

.btn-menu {
    position: absolute;
    font-size:30px;
    cursor:pointer;
    color: white;
    left: 15px;
}
